<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    

    <div id="main">
       
        <div id="action-btns-top"> 
        <% if(locals.user) {%>
       
            <h1><%= user.name %> </h1>
     
            <h1><%= user.email %> </h1>
            
                <button id="logout-btn" > <a href="/users/destroy-session">Sign out </a></button>
            <%}else{%>
                <div id="logout">
                    <button id="logout-btn" > <a href="/users/sign-in">Sign in</a></button>
                    <button id="logout-btn"> <a href="/users/sign-up">Sign Up</a></button>
                </div>
        <%}%>
        </div>
       
    </div>
    <div id="action-btns">

    <% if(locals.user) {%>
            <a href="/users/destroy-session">Sign out </a>
            <button id="toggle">Hide Update Form</button>
            <form id="update-form" action="/users/update/?id=<%=user.id%>" method="POST">
                <input id="form-inputs-values" type="text" name="name" placeholder ="Your name" value= "<%=user.name %>" required >
                <input id="form-inputs-values" type="email" name="email" placeholder ="Your name" value= "<%=user.email %>" required >
                <input id="form-inputs-values" type="password" name="currentpassword" placeholder ="Enter Your Current password" value= "" required >
                <input id="form-inputs-values" type="password" name="password" placeholder ="Enter new Password" value= "" required >
                <input name="id" type="hidden" value="<%=user.id %>">
                <input id = "form-submit-btn" type="submit" value="submit" >
            </form>
        <%}else{%>
            <a href="/users/sign-in"></a>
            <a href="/users/sign-up"></a>
    <%}%>



    </div>


    
</html>

<script>
    const targetDiv = document.getElementById("update-form");
    const btn = document.getElementById("toggle");
    btn.onclick = function () {
    if (targetDiv.style.display !== "none") {
        targetDiv.style.display = "none";
        btn.innerHTML = "Show Update Form"
        btn.style.backgroundColor='Green';
    } else {
        targetDiv.style.display= "flex";
        btn.innerHTML = "Hide Update Form"
        btn.style.backgroundColor='Red';
    }
    };
</script>    