<div>
    <h1> Interview Detail Page </h1>
    <h3><%=company_name%></h3>
    <h2>Add Students to interivies </h2>



    <section id="add-students">
        <form class= "new-student-form" id="student-form" action="/interview/addStudent/?compname=<%=company_id%>" method="POST">
            <select id="students" name="studentList" form="student-form" >
                <% for(student of student_detail) { %>    
                    <option name = "student" value="<%= student.id%>"><%= student.name%></option>
                 <% } %>
                </select> 
                <input type="submit" value="Add Student to interview"></input>
        </form>
    </section>

    <section>
        <%for (s of interview_student) { %>
        
            <%= s.name%>
            <%= s.college%>
        
            <form method="post" action="/students/placed/?studentId=<%=s._id%>" class="inline">
            <input type="hidden" name="extra_submit_param" value="extra_submit_value">
            <button type="submit" name="submit_param" value="submit_value" class="link-button">
                Placed
            </button>
            </form>

        <br>
        </br>    
    
        <% } %>    
    </section>


</div>