<h1>Prifile</h1>

<h1><%= user.name %></h1>
<h1><%= user.email %></h1>

<% if(locals.user) {%>
    <%= user.name%>
        <%=user.id%>
        <a href="/users/destroy-session">Sign out </a>
        <p>hllo</p>
        <form class="update-form" action="/users/update/?id=<%=user.id%>" method="POST">
            <input type="text" name="name" placeholder ="Your name" value= "<%=user.name %>" required >
            <input type="email" name="email" placeholder ="Your name" value= "<%=user.email %>" required >
            <input name="id" type="hidden" value="<%=user.id %>">
            <input type="submit" value="submit" >
        </form>
 

    <%}else{%>
        <a href="/users/sign-in"></a>
        <a href="/users/sign-up"></a>
<%}%>